<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>CoF Library</title>
        <link rel="stylesheet" href="css/screen.css">
        <link rel="stylesheet" href="js/lib/jquery-ui-1.11.4.custom/jquery-ui.css">

    </head>
    <body>
      <div id="books">

        <div id="addBook" action="#">
          <h3 id="abook">Add a new book </h3>
            <div id="addarea">

                <label for="coverImage">
                  CoverImage:
                </label>
                <input id="urlimager" type="text" placeholder="URL for image (link)" ></input>
                   <label for="coverImage" >
                     or Add image from file:
                   </label>

                  <input id="coverImage" type="file"  />



                <label for="title">Title: </label><input id="title" type="text" />
                <label for="author">Author: </label><input id="author" type="text" />
                <label for="releaseDate">Release date: </label><input id="releaseDate" type="text" />
                <label for="keywords">Keywords: </label><input id="keywords" type="text" />

                <label for="mailer" id="elab">Your e-mail: </label>
                <input id="mailer" type="email" />
                <button id="add">Add</button>
            </div>

        </div>



      </div>



      <script id="bookTemplate" type="text/template">
        <img height=115 width=90 src="<%= coverImage %>"/>
        <ul>
            <li><%= title %></li>
            <li><%= author %></li>
            <li><%=

              releaseDate

              %></li>

            <!-- valid html comment
            <li><%= new Date(releaseDate * 100) %></li>

          -->

            <li><% _.each( keywords, function( keyobj ) {%> <%= keyobj.keyword %><% } ); %></li>


        </ul>

        <button class="delete">Delete</button>
        <button class="edit">Edit</button>

      </script>



      <script id="edTemplate" type="text/template">

        <span class="editing">
          <img height=115 width=90 src="<%= coverImage %>"/>

          <label for="tit">Title: </label><input id="tit" type="text" value= <%= title %> />
          <label for="author">Author: </label><input id="aut" type="text" value= <%= author %> />
          <label for="relDate">Release date: </label><input id="relDate" type="text" value=<%= releaseDate %>  >
          <label for="key">Keywords: </label>
          <input id="key" type="text" value=  <%= words  %>  >

          <label for="mail" id="elab">Your e-mail: </label>
          <input id="mail" type="email" value=<%= mailer %> >

        </span>

        <button class="cancel">Cancel</button>
        <button class="save">Save </button>

      </script>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="js/lib/jquery-ui-1.11.4.custom/jquery-ui.js"></script>


        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>


        <script src="js/models/book.js"></script>
        <script src="js/collections/library.js"></script>
        <script src="js/views/book.js"></script>
        <script src="js/views/library.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
