<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>CoF Library</title>
        <link rel="stylesheet" href="css/screen.css">
        <link rel="stylesheet" href="js/lib/jquery-ui-1.11.4.custom/jquery-ui.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    </head>
    <body>
      <div id="books">

        <div id="tabs" >
        <ul>
          <li id="filter">
            <a href="#tabs-4"><h3 id="retbook"> Sort/filter </h3>

            </a>
          </li>
          <li id="adder">
            <a href="#tabs-1"><h3 id="abook">Add a new book </h3>
          </a>

          </li>

          <li id="oubook">
            <a href="#tabs-2"><h3 id="outBook"> Book from SF Public Library </h3>

            </a>
          </li>
          <li id="return">
            <a href="#tabs-3"><h3 id="retbook"> Return a Book </h3>

            </a>
          </li>

        </ul>

        <!-- The divs for the tabs, not really in order but they render in the page in the order they are coded not by tab-# in the id of the main div -->
        <div id="tabs-4">

          <div>
            <span class="byer"> Sort by:</span>
            <select id="sorter">
                <option value=''>None</option>
                <option id='titSort' value="title">Title</option>
            </select>
          </div>


          <div>
            <span class="byer"> Filter books by:</span>
            <span class="checkers">

            <label for="availFil">Show only available
              <input type="checkbox" id="availFil" value="Available" />
            </label>
            <span id="filt">
            <label for="cofFil">At Conservatory of Flowers:
              <input type="checkbox" id="cofFil" value="cof" checked=true />
            </label>
            <label for="sfplFil">San Francisco Public Library:
              <input type="checkbox" id="sfplFil" value="sfpl" checked=true/>
            </label>
            </span>
          </span>
          </div>

        </div>


        <div id="tabs-1">

              <div>

                <label for="urlimager">
                  CoverImage:

                <input id="urlimager" type="text" placeholder="URL for image (link)" ></input>

                </label>
                   <label for="coverImage" >
                     or Add image from file:
                   </label>

                  <input id="coverImage" type="file"  />

                </div>

                </br>

                <div>
                  <label for="title">Title: </label><input id="title" type="text" />
                </div>
                <div>
                  <label for="author">Author: </label><input id="author" type="text" />
                </div>

              <div>
                <label for="releaseDate">Release date: </label><input id="releaseDate" type="text" />
              </div>
              <div>
                <label for="keywords">Keywords: </label><input id="keywords" type="text" />
              </div>
              <div>
                <label for="mailer" id="elab">Your e-mail: </label>
                <input id="mailer" type="email" />
              </div>

                <button id="add">Add</button>


            </div>

            <div id="tabs-2">
              <label for="urlLib">URL from SFPL</label> <input type="text" id="urlLib" class="liburl"> </br>

                <button id="sfplURL">Submit </button>

            </div>
            <div id="tabs-3">
              <label for="returnEmail">Your e-mail address</label> <input type="text" id="returnEmail" class="liburl"> </br>

                or <label for="retTitle">the book Title: </label>
                <input type="text" id="retTitle">

                <button id="retBook">Submit </button>

            </div>

        </div>

        <div class="ui-toolbar ui-widget-header ui-helper-clearfix" style="padding:5px;">
          <span style="position: absolute;" class="btnSearch ui-state-default" title="search">
            <span class="ui-icon ui-icon-search"></span>
          </span>
          <input type="text" placeholder="Search" />
        </div>


      </div>




    <script id="edTemplate" type="text/template">
      <a name="<%= title %>"></a>

    <span class="editing" name="<%= title %>" >
          <img height=115 width=90 src="<%= coverImage %>"/>
      <div>
          <label for="tit">Title: </label><input id="tit" type="text" value="<%= title %>" >  </label>
      </div>
      <div>
        <label for="author">Author: </label><input id="aut" type="text" value="<%= author %>" >
      </div>

      <div>
          <label for="relDate">Release date: </label><input id="relDate" type="text" value=<%= releaseDate %>  >
</div>
<div>          <label for="key">Keywords: </label>
          <input id="key" type="text" value=  <%= words  %>  >
</div>

<div>
          <label for="mailo" id="elab">Your e-mail: </label>
          <input id="mailo" type="email" value=<%= mailer %> >
</div>
        </span>

        <button class="cancel">Cancel</button>
        <button class="save">Save </button>
        <button class="edPic">Edit Picture</button>


      </script>

      <script id="edPic" type="text/template">
        <img height=115 width=90 src="<%= coverImage %>"/>
        <ul>
            <li><%= title %></li>
            <li><%= author %></li>

            <label for="picLink">
              Enter a url to the picture:
            </label>
            <input id="picLink" type="text">
            or </br>
            <label for="filerP">Upload a file:</label>
            <input id="filerP" type="file">

        </ul>

        <button class="cancel">Cancel</button>
        <button class="saveP">Save</button>

      </script>

      <script id="checker" type="text/template">

        <span class="checksie" name=<%= title %> >


        <img height=115 width=90 src="<%= coverImage %>"/>
        <ul>
            <li><%= title %></li>
            <li><%= author %></li>

            <li>
              <label for="checkE"> Your e-mail: </label>
              <input type="email" id="checkE"  >
            </li>



        </ul>

        <button class="checkOut">Checkout</button>
        <button class="cancel">Cancel</button>


      </span>

      </script>

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/lunr.js/lunr.js"></script>

        <script src="js/lib/jquery-ui-1.11.4.custom/jquery-ui.js"></script>

        <script src="js/lib/savins.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>


        <script src="js/models/book.js"></script>
        <script src="js/collections/library.js"></script>
        <script src="js/views/book.js"></script>
        <script src="js/views/library.js"></script>
        <script src="js/routers/route.js"></script>

        <script src="js/app.js"></script>
    </body>
</html>
