body {
    background-color: #eee;
}

h3#abook {
  //text-align:center;
//  padding-top:5%;
//  height:40px;

}

h3 {
  text-align:center;
//  padding-top:5%;
//  height:40px;
  //position:relative;
  //display:table-cell;

//  width: 300px;

//  margin: 10px;


}

#outBook{

  background-color: yellow;
}

#addBook {
  background-color:limegreen;
  display:block;
  width:350px;
}


.bookContainer {
    outline: 1px solid #aaa;
    width: 350px;
    min-height: 170px;
    height: auto;
    background-color: #fff;
    float: left;
    margin: 5px;
}

.bookContainer img {
    float: left;
    margin: 10px;
}

.bookContainer ul {
    list-style-type: none;
    //margin-bottom: 0;
}

.bookContainer button {
    float: right;
    margin: 10px;
}



#addBook label {
    margin-right: 10px;
    text-align: right;
    line-height: 25px;
}

#addBook label, #addBook input {
    display: block;
    margin-bottom: 10px;
    float: left;
    width:200px;
}

#addBook label[for="title"], #addBook label[for="releaseDate"] {
    clear: both;
}

#add {
    display: block;
    margin: 5px 20px 10px 10px;
    float: left;
    clear: both;
}

#addBook div {
    width: 200px;

}


#addBook div:after {
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0;
}

#urlimager {
    clear:none;
}
label {

}
#orer {
    clear:left
}

#elab {
    clear:left;
}

.editing div {
    margin: 10 10 10 10
}

#tabs-1 {
    height: 280px;
    padding:30px;

}

#tabs-1 div {
    padding: 5px;
}

.checksie button {
  float:left;
  width:40%;
  height:30px;
  background:lightgreen;
}

button.cancel{
  background:red;
}

.checkedOut {
  background: orange;
}
